html{
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-color: #40415b;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: #7375a5;
    height: 15vh;
    width: 100%;
    border-radius: 10px;


}

nav img {
    position: relative;
    top: 25px;
    width: 200px;
    
    
}

nav a {
    text-decoration: none;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
}

nav ul li a {
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Poppins;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    background-color: #4c4d69;
    color: black;
    cursor: pointer;
}



#text1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 8rem;
    align-items: center;  
    
}
#text2 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 8rem;
    align-items: center;  
}

#text3 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 8rem;
    align-items: center;  
}

#text1 p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;  
}
#text2 p {
    margin: 6.9rem 0 1.8rem;
    line-height: 1.7;  
}
#text3 p {
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}


.img-text2{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}

.img-text2 img{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}


.img-text1{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}

.text1 h2{
    font-size: var(--h2-font);
}

.img-text1 img{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}

.img-text3{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}

.img-text3 img{
    max-width: 90%;
    width: 480px;
    height: auto;
    border-radius: 0.5rem;
}