body{
    font-family: Poppins;
    background-color:  #40415b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7375a5;
    height: 15vh;
    width: 100%;

}
nav img{
    width: 200px;
}

nav a{
    text-decoration: none;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding:0px;
    float: right;
}

nav ul li {     
    display: inline-block;     
    line-height: 80px;     
    margin: 0 5px 
}  

nav ul li a {     
    color: black;
    font-size: 15px;    
    padding: 7px 13px;     
    border-radius: 3px;     
    text-transform: uppercase;     
    font-family: Poppins;
    text-decoration: none;     
    font-weight: bold; 
}

ul li a:hover{
    background-color: #4c4d69;
    color: black;
    cursor: pointer;
}



#icone-cyberbar-rodape{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}